include ./minion-header.jade
     
#formula

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.serverId = "#{server.id}";
    window.formulaId = #{formula_id};

script(src='/javascript/manager/minion/formula/minion-formula.bundle.js?cb=#{webVersion}', type='text/javascript')
