include ./minion-header.jade

#formulas

script(type='text/javascript').
    window.csrfToken = "#{csrf_token}";
    window.serverId = "#{server.id}";

script(src='/javascript/manager/minion/formula/minion-formula-selection.bundle.js?cb=#{webVersion}', type='text/javascript')
